<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>نمونه کار سایت خرید دوره انلاین</title>
    <!-- Custom CSS -->
    @Styles.Render("~/Content/css")
</head>
<body dir="rtl">
    <div id="main-wrapper">

        <div class="header header-transparent dark-text">
            <div class="container">
                <nav class="navigation navigation-landscape">
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li><a href="~/Home/Index">خانه</a></li>
                            <li><a href="~/Couerse/Index">دوره های آموزشی</a></li>
                            <li><a href="~/Blog/Index">وبلاگ</a></li>
                            <li><a href="~/Home/Contact">تماس با ما</a></li>
                        </ul>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            <ul class="nav-menu nav-menu-social align-to-left">
                                <li class="embos_45"><a href="~/Cart/Index" class="embose_count"><i class="fas fa-shopping-basket"></i></a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.AntiForgeryToken()
                                    <li><button class="btn btn-default" type="submit"><i class="fa fa-unlock-alt"> خروج </i></button></li>
                                }
                                else
                                {
                                    <li><a href="~/Account/Login" class="text-black">ورود</a></li>
                                    <li class="add-listing theme-bg"><a href="~/Account/Register" class="text-white">ثبت نام</a></li>
                                }
                            </ul>
                        }
                    </div>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        @RenderBody()
        <!-- ============================================================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer style-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="footer_widget">
                                <h4 class="extream mb-3 font-2">آیا به کمک تیم پشتیبانی<br>نیاز دارید؟</h4>
                                <p>هر ماه با عضویت در خبرنامه ما از به‌روزرسانی‌ها، معاملات جدید، آموزش‌ها و تخفیف‌ها باخبر شوید.</p>
                                <div class="foot-news-last">
                                    <div class="input-group">
                                        <input type="text" class="form-control brd" placeholder="ایمیل">
                                        <div class="input-group-append">
                                            <button type="button" class="input-group-text theme-bg b-0 text-light">عضویت</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 ml-auto">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="footer_widget">
                                        <h4 class="widget_title">لینک های مهم</h4>
                                        <ul class="footer-menu">
                                            <li><a href="~/Home/About">درباره ما</a></li>
                                            <li><a href="~/Home/Faq">سوالات متداول</a></li>
                                            <li><a href="~/Blog/Index">وبلاگ</a></li>
                                            <li><a href="~/Home/Contact">تماس با ما</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 text-center">
                            <p class="mb-0">© iamyr.ir </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Modal -->
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
